[client]
port = 3310
socket = /tmp/mysql-3310.sock

[mysqld]
port = 3310
socket = /tmp/mysql-3310.sock

sync_binlog = 0
binlog_format = MIXED


skip-name-resolve
skip-host-cache

max_allowed_packet = 16M
table_cache = 64
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 2M


default-storage-engine=INNODB
log-bin=mysql-bin
max_connections=5000
max_connect_errors=10000
log_slow_queries=slow.log
long_query_time=1
log_queries_not_using_indexes=0
skip-federated
server-id= 2
innodb_lock_wait_timeout=180

innodb_data_file_path = ibdata1:500M:autoextend
innodb_buffer_pool_size = 5G
innodb_additional_mem_pool_size = 8M
innodb_log_file_size = 100M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 2
innodb_table_locks =0
innodb_thread_concurrency=4
transaction-isolation=READ-COMMITTED
innodb_doublewrite=0
innodb_flush_method=O_DSYNC


[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[isamchk]
key_buffer = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[myisamchk]
key_buffer = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout

